#logoHenry {
  margin:10px
}
.navbar{
  background-color: #485D96;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.navbar-title{
  color:white;
  display: flex;
}
#title{
  margin: 12px;
}
